/* Buenas prácticas */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #2a2f32
}

/* Así las imagenes no se encogerán al cambiar el tamaño de la ventana */
img {
    max-width: 100%;
}

/* Colores y moduficaciones de la caja del navbar (no esta en el grid porque ya estaba hecho antes de incluir el contenido al grid) */
.navbar{
    padding: 0;
}
.container-fluid {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
#navbarNavDropdown > ul > li > a {
    align-self: center;
    font-size: 20px;
    margin: 10px;
    font-family: 'Mukta', sans-serif;
    font-size: 115%;
    color: #fff;
}
.dropdown > ul >li > a, .dropdown > ul {
    background-color: rgb(60, 129, 194);
    color: #fff;
    font-family: 'Mukta', sans-serif;
}
#navbarNavDropdown > ul > li > a:hover, .dropdown > ul >li > a:hover{
    background-color:rgb(64, 66, 82);
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    transition: .5s ease all;
}

/* Personaliza el logo de la barra de tareas */
.logoNav {
    height: 70px;
    width: 120px;
    margin-left: 20px;
    margin-right: 20px
}
.logo img{
    height: 1200%;
    width: 100%;
}

/* Se usa el grid para darle mejor forma a la página con mayor facilidad */
.contenedor{
    /* Medidas para que este centrado */
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;

    display: grid;
    grid-gap: 20px;


    grid-template-columns: repeat(3, minmax(200px, auto));
    grid-template-rows: repeat(5,minmax(200px, auto));

    grid-template-areas: "logo logo logo"
                         "contenido1 contenido1 contenido1"
                         "contenido2 contenido2 redesSoc"
                         "contenido2 contenido2 redesSoc"
                         "footer footer footer";
}

/* Estilos del formulario */
fieldset{
    border: solid 2px blanchedalmond;
}
.subtitulo{
    font-family: 'Kaisei Tokumin', serif;
}
label{
    margin: 17px;
}
label.mucho_texto1{
    margin-left: 215px;
}
.seccion1 .posicion1{
    margin-right: 0px;
}

/* El segundo logo de la página (esta en todas las páginas) */
.contenedor .logo{
    grid-area: logo;
    justify-self: center;
    height: 15px;
}

/* Para la segunda fila del grid (contenido1) */
.contenedor .contenido1{
    background-color: #354853;
    padding: 20px;
    border-radius: 4px;
    grid-area: contenido1;
    
}
.contenedor .contenido1 p{
    padding-right: 20px;
    padding-left: 20px;
}

/* Segunda fila del grid */
.contenedor .contenido2{
    background-color: #354853;
    padding: 20px;
    border-radius: 4px;
    grid-area:contenido2 ;
}
/* Es una columna del grid para colocar las redes sociales */
.contenedor .redesSoc{
    grid-area: redesSoc;
}
.contenedor .footer{
    grid-area: footer;
}
.letra{
    color:#fff;
    font-family: 'Mukta', sans-serif;
}
.titulo, .footer h2{
    color: initial;
    font-family: 'Azeret Mono', monospace;
    width: 100%;
    display: inline-block;
    text-align: center;
    box-shadow: 20px 20px 20px;
    margin-bottom: 20px;
}
.redesSoc, .redesSoc a{
    color:#fff;
    font-family: 'Kaisei Tokumin', serif;
    position:sticky;
    top: 0;
    margin: 10px;
}

/* Footer, última línea del grid */
.footer{
    background-color: #354853;
}
.footer p a{
    border: solid 1px rgb(60, 129, 194);
}
.footer .letra{
    margin-left:20px
}
/* A los enlaces se le usa el valor de herencia */
.footer a{
    color:inherit;
}
.footer h2{
    margin-left: 15px;
    width: 850px
}

/* CLASES PARA LOS FORMULARIOS */
.formulario__input-error {
	font-size:18px;
	position: relative;
    left: 10%;
    font-weight: 300;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.form__mensaje {
	height: 45px;
	line-height: 45px;
	background: #d31212;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form__mensaje-activo {
	display: block;
}

.form__mensaje p {
	margin: 0;
}

.form__grupo-btn-enviar{
    margin: 17px;
    position: relative;
    left: 45%;
}

.form__mensaje-exito {
    margin: 15px;
    position: relative;
    left: -29%;
	font-size: 25px;
	color: #119200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	/* display: none; */
}
.form__mensaje-exito-activo {
	display: block;
}

.form__grupo-correcto .form__label {
	color: #1ed12d;
}
.form__grupo-incorrecto .form__label {
	color: #bb2929;
}


/* El media query afecta y hace cambios cuando la pantalla tiene una cantidad de pixeles determinada */
@media screen and (max-width: 768px){
    .contenedor{

        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-template-rows: repeat(6,minmax(200px, auto));

        grid-template-areas:  "logo logo logo"
                               "contenido1 contenido1 contenido1"
                               "contenido2 contenido2 contenido2"
                               "contenido2 contenido2 contenido2 "
                               "redesSoc redesSoc redesSoc"
                               "footer footer footer";
    }

    .titulo, .footer h2{
        color: initial;
        font-family: 'Azeret Mono', monospace;
        width: 90%;
        display: inline-block;
        text-align: center;
        box-shadow: 20px 20px 20px;
    }

    .redesSoc, .redesSoc a{
        color:#fff;
        font-family: 'Kaisei Tokumin', serif;
        margin: 10px;
       justify-content: center;
    }
    .redesSoc{
       /* padding-left: 50px; */
       position: relative;
       top: 20px;
       left: 141px;
    }
}

/* scroll personalizado */
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color:rgb(60, 129, 194);
    border-radius: 7px;
}