/* Buenas prácticas */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: #2a2f32  
}
/* Así las imagenes no se encogerán al cambiar el tamaño de la ventana */
img {
    max-width: 100%;
}
p{
    font-size: 110%;
}

/* Modificaciones de reveal */
.reveal__img2{
    height: 15em;
}

/* ************* Modificación del botón de likes ******************** */
.corazon-btn{
    position: absolute;
    top: 50%;
    left: 23%;
}
.contenido{
    padding: 13px 16px;
    border: 2px solid #eae2e1;
    border-radius: 5px;
    cursor: pointer;
}
.contenido .corazon{
    height: 90px;
    width: 90px;
}
/* Cambia de color cuando esta activo el corazón y la clase "corazon-active" este incluida */
.contenido.corazon-activo{
    border-color: #f9b9c4;
    background: #fbd0d8;
}
.corazon{
    position: absolute;
    /* Posiciona el corazón */
    transform: translate(-50%,-50%);
    top: 50%;
    left: 21%;
    background: url("/assets/images/corazones.png");
    background-size: 2900%;
    height: 90px;
    width: 90px;
}
.text{
    font-size: 21px;
    margin-left: 30px;
    color: grey;
    font-family: 'Montserrat',sans-serif;
}
.text.corazon-activo{
    color: #000;
}
.corazon.corazon-activo{
    /* El primer valor es el nombre de la animación, segundo el tiempo, tercero como debe avanzar y el cuarto el retraso de esta */
    /* Esto funciona con el keyframe */
    animation: animate .8s steps(28) 1;
}
@keyframes animate {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
}

/* Colores y moduficaciones de la caja del navbar (no esta en el grid porque ya estaba hecho antes de incluir el contenido al grid) */
.navbar{
    padding: 0;
}
/* Es el background de la caja del navbar */
.container-fluid {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
#navbarNavDropdown > ul > li > a {
    align-self: center;
    font-size: 20px;
    margin: 10px;
    font-family: 'Mukta', sans-serif;
    font-size: 115%;
    color: #fff;
}
.dropdown > ul >li > a, .dropdown > ul {
    background-color: rgb(60, 129, 194);
    color: #fff;
    font-family: 'Mukta', sans-serif;
}
#navbarNavDropdown > ul > li > a:hover, .dropdown > ul >li > a:hover{
    background-color:rgb(64, 66, 82);
    border-radius: 15px;
    font-family: 'Roboto Mono', monospace;
    transition: .5s ease all;
}

/* Personaliza el logo de la barra de tareas */
.logoNav {
    height: 70px;
    width: 120px;
    margin-left: 20px;
    margin-right: 20px
}
.logo img{
    height: 1200%;
    width: 100%;
}

/* Se usa el grid para darle mejor forma a la página con mayor facilidad */
.contenedor{
    /* Medidas para que este centrado */
    width: 90%;
    max-width: 1000px;
    margin: 55px auto 20px;

    display: grid;
    grid-gap: 20px;


    grid-template-columns: repeat(3, minmax(200px, auto));
    grid-template-rows: repeat(3,minmax(150px, auto));

    grid-template-areas: "contenido1 contenido1 redesSoc"
                         "contenido2 contenido2 redesSoc"
                         "footer footer footer";
}

/* El segundo logo de la página (esta en todas las páginas) */
.contenedor .logo{
    grid-area: logo;
    justify-self: center;
    height: 15px;
}

/* Para la segunda fila del grid (contenido1) */
.contenedor .contenido1{
    background-color: #354853;
    padding: 20px;
    border-radius: 4px;
    grid-area: contenido1;
}

/* Segunda fila del grid */
.contenedor .contenido2{
    background-color: #354853;
    padding: 20px;
    border-radius: 4px;
    grid-area:contenido2 ;
}

/* Es una columna del grid para colocar las redes sociales */
.contenedor .redesSoc{
    grid-area: redesSoc;
}
.contenedor .footer{
    grid-area: footer;
}

.letra{
    color:#fff;
    font-family: 'Mukta', sans-serif;
}

/* Footer, última línea del grid */
.titulo, .footer h2{
    color: initial;
    font-family: 'Azeret Mono', monospace;
    width: 100%;
    display: inline-block;
    text-align: center;
    box-shadow: 20px 20px 20px;
    margin-bottom: 38px;
}
.redesSoc, .redesSoc a{
    color:#fff;
    font-family: 'Kaisei Tokumin', serif;
    position:sticky;
    top: 0;
    margin: 10px;
}
.footer{
    background-color: #354853;
}
.footer p a{
    border: solid 1px rgb(60, 129, 194);
}
.footer .letra{
    margin-left:20px
}

/* A los enlaces se le usa el valor de herencia */
.footer a{
    color:inherit;
}
.footer h2{
    margin-left: 15px;
    width: 850px
}

/* El media query afecta y hace cambios cuando la pantalla tiene una cantidad de pixeles determinada */
@media screen and (max-width: 768px){
    .contenedor{

        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-template-rows: repeat(5,minmax(200px, auto));

        grid-template-areas:   "contenido1 contenido1 contenido1"
                               "contenido2 contenido2 contenido2"
                               "redesSoc redesSoc redesSoc"
                               "footer footer footer";
    }

    .titulo, .footer h2{
        color: initial;
        font-family: 'Azeret Mono', monospace;
        width: 90%;
        display: inline-block;
        text-align: center;
        box-shadow: 20px 20px 20px;
    }

    .redesSoc, .redesSoc a{
        color:#fff;
        font-family: 'Kaisei Tokumin', serif;
        margin: 10px;
       justify-content: center;
    }
    .redesSoc{
        position: relative;
        top: 20px;
        left: 90px;
    }
    .corazon-btn{
        position: absolute;
        top: 20%;
        left: 53%;
    }
}

/* scroll personalizado */
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 7px;
}